---
interface Props {
	title: string;
}

import BaseHeader from '../components/BaseHeader.astro';
import Header from './Header.astro';
import Body from './Body.astro';
import Content from './Content.astro';

const { title } = Astro.props;

---
<!DOCTYPE html>
<html lang="en">
<Header title={title} />
<Body>
    <Content>
        <slot />
    </Content>
</Body>
</html>