---

import Layout from '../layouts/LayoutAnalisis.astro';
---
<Layout title="Workbench | Analisis">
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">        
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mx-n4 mt-n4 bg-info-subtle">
                            <div class="card-body">
                                <div class="text-center mb-4">
                                    <img src="assets/images/users/avatar-10.png" alt="" style="width: 800px; height: 400px; border-radius: 0;" />
                                    <h5 class="mt-3 mb-1">SMB malware</h5>
                                    <p class="text-muted mb-3">Virus Found in File </p>
                                    <div class="mx-auto">
                                        <span class="badge text-bg-danger">Malware</span>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-unstyled vstack gap-3 mb-0">
                                    <li>
                                        <div class="d-flex">
                                            <i class='bx bx-calendar font-size-18 text-primary'></i>
                                            <div class="ms-3">
                                                <h6 class="mb-1 fw-semibold">DateTime:</h6>
                                                <span class="text-muted">10-07-2024 00:00:00</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <i class='bx bx-map font-size-18 text-primary'></i>
                                            <div class="ms-3">
                                                <h6 class="mb-1 fw-semibold">Tags :</h6>
                                                <span class="text-muted"> Malware</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <i class='bx bx-sort-up font-size-18 text-primary'></i>
                                            <div class="ms-3">
                                                <h6 class="mb-1 fw-semibold">Severity : </h6>
                                                <span class="text-muted">Medium</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <i class='bx bx-user font-size-18 text-primary'></i>
                                            <div class="ms-3">
                                                <h6 class="mb-1 fw-semibold">Action : </h6>
                                                Melakukan Blocklist Pada FileHash
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <i class='bx bx-search-alt font-size-18 text-primary'></i>
                                            <div class="ms-3">
                                                <h6 class="mb-1 fw-semibold">Findings:</h6>
                                                <span class="text-muted">False Positive</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <i class='bx bx-task font-size-18 text-primary'></i>
                                            <div class="ms-3">
                                                <h6 class="mb-1 fw-semibold">Status : </h6>
                                                <span class="text-muted">Close</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-3">Workbench Description</h5>
                                <h5 class="mb-3">Description : </h5>

                                <p class="text-muted">Very well thought out and articulate communication. Clear milestones, deadlines and fast work. Patience. Infinite patience. No shortcuts. Even if the client is being careless. Some quick example text to build on the card title and bulk the card's content Moltin gives you platform.</p>
                                <p class="text-muted mb-4">As a highly skilled and successfull product development and design specialist with more than 4 Years of My experience lies in successfully conceptualizing, designing, and modifying consumer products specific to interior design and home furnishings.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div> <!-- container-fluid -->
        </div><!-- End Page-content -->
    </div>
    <!-- end main content-->

</div>
</Layout>


