---
import Layout from '../layouts/LayoutShift.astro';
---
<Layout title="Generate Report | R2">
		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h1 class="mb-sm-0 font-size-40">Generate Report Per Shift</h1>
							</div>
						</div>
					</div>
					<!-- end page title -->
					<div class="row">
						<div class="col-xl-4">
							<div class="card overflow-hidden">
								<div class="bg-primary-subtle">
									<div class="row">
									</div>
								</div>
										<div class="col-sm-8">
												<div class="row">
													<div class="col-6">
													</div>
													<div class="col-6">
													</div>
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="page-title-box d-sm-flex align-items-center justify-content-between">
							<h2 class="mb-sm-0 font-size-30">Report Per Shift</h2>
						</div>
						<!-- Card  -->
                        <div class="row">
                            <div class="col-xl-3 col-sm-6">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-16">
                                                <i class="bx bx-happy-beaming"></i>
                                            </span>
                                        </div>
                                        <h5 class="font-size-15 mb-1"><a href="javascript: void(0);" class="text-dark">Generate Here </a></h5>
										<div class="mb-3">
											<select class="form-select" id="project-status-input">
												<option value="Completed" selected >Pilih Waktu Shift</option>
												<option value="Completed" >Shift Satu (07.00 s/d 15.00)</option>
												<option value="Inprogress" >Shift Dua (15.00 s/d 23.00)</option>
												<option value="Inprogress" >Shift Tiga (23.00 s/d 07.00)</option>
											</select>
											<div class="invalid-feedback">Please select Workbench Status</div>
										</div>
										<br>
										<div>
                                            <button type="button" class="btn btn-success waves-effect waves-light">
                                                <i class="bx bx-file-blank font-size-16 align-middle me-2"></i> Generate here !
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="col-xl-8">
								<div class="row">
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Attack</p>
														<h4 class="mb-0">3131</h4>
													</div>
													<div class="flex-shrink-0 align-self-center">
														<div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
															<span class="avatar-title">
																<i class="bx bx-transfer font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Suspicious DNS</p>
														<h4 class="mb-0">2424</h4>
													</div>
													<div class="flex-shrink-0 align-self-center ">
														<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
															<span class="avatar-title rounded-circle bg-primary">
																<i class="bx bx-cloud font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total Malware</p>
														<h4 class="mb-0">4123</h4>
													</div>
													<div class="flex-shrink-0 align-self-center ">
														<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
															<span class="avatar-title rounded-circle bg-primary">
																<i class="bx bx-bot font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total SSH Login Failed </p>
														<h4 class="mb-0">4123</h4>
													</div>
													<div class="flex-shrink-0 align-self-center ">
														<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
															<span class="avatar-title rounded-circle bg-primary">
																<i class="bx bx-bot font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total SSH Login Failed </p>
														<h4 class="mb-0">4123</h4>
													</div>
													<div class="flex-shrink-0 align-self-center ">
														<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
															<span class="avatar-title rounded-circle bg-primary">
																<i class="bx bx-bot font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card mini-stats-wid">
											<div class="card-body">
												<div class="d-flex">
													<div class="flex-grow-1">
														<p class="text-muted fw-medium">Total SSH Login Failed </p>
														<h4 class="mb-0">4123</h4>
													</div>
													<div class="flex-shrink-0 align-self-center ">
														<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
															<span class="avatar-title rounded-circle bg-primary">
																<i class="bx bx-bot font-size-24"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<h2>Ini Hasil Generate Detailnya !</h2>
							<div class="row">
								<div class="col-xl-12">
									<div class="card">
										<div class="card-body">
											</form>
											<h3>Attack Logs </h3>
											<div class="table-responsive">
												<table class="table table-striped-columns mb-0">
													<thead>
														<tr>
															<th>DateTime</th>
															<th>Rulename</th>
															<th>SourceIP</th>
															<th>DestinationIP</th>
															<th>Request</th>
															<th>BotURL</th>
															<th>UUID</th>
															<th>Severity</th>
															<th>Bloclist SourceIP / Payload</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th scope="row">2024-06-07 03:28:48</th>
															<td>A web attack returned code 200 (success)
															</td>
															<td>213.109.202.145</td>
															<td>Prancis</td>
															<td> </td>
															<td>Windows 10</td>
															<td>Endpoint Protection</td>
															<td>Endpoint Protection</td>
															<td>Endpoint Protection</td>
														</tr>
														<tr>
															<th scope="row">2024-06-07 03:28:48</th>
															<td>Laptop Raiden</td>
															<td>11.96.35.69</td>
															<td>Raiden</td>
															<td>Windows</td>
															<td>Windows 10</td>
															<td>Endpoint Protection</td>
														</tr>
														<tr>
															<th scope="row">2024-06-07 03:28:48</th>
															<td>Zhongli</td>
															<td>78.96.65.65</td>
															<td>Childe</td>
															<td>Windows</td>
															<td>Windows 10</td>
															<td>Server Protection</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="card">
									<div class="card-body">
										</form>
										<h3> Suspicious DNS Logs  </h3>
										<div class="table-responsive">
											<table class="table table-striped-columns mb-0">
							
												<thead>
													<tr>
														<th>DateTime </th>
														<th>SourceIP</th>
														<th>DestinationIP</th>
														<th>Rulename</th>
														<th>cccaDestination:</th>
														<th>UUID</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row">2024-06-07 03:28:48</th>
														<td>Laptop Kazuha</td>
														<td>20.36.98.32</td>
														<td>Anydesk RMM - DNS (Response) - Beta</td>
														<td>boot.net.anydesk.com</td>
														<td>18421064842105484611548</td>
													</tr>
													<tr>
														<th scope="row">2024-06-07 03:28:48</th>
														<td>Laptop Raiden</td>
														<td>11.96.35.69</td>
														<td>DNS response of a queried malware Command and Control domain</td>
														<td>ilo.brenz.pl</td>
														<td>18421064842105484611548</td>
													</tr>
													<tr>
														<th scope="row">2024-06-07 03:28:48</th>
														<td>Zhongli</td>
														<td>78.96.65.65</td>
														<td>Possible CONFICKER DNS Response</td>
														<td>gtxvdqvuweqs.com</td>
														<td>18421064842105484611548</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="card">
									<div class="card-body">
										</form>
										<h3>Malicious Malware on Endpoint Logs</h3>
										<div class="table-responsive">
											<table class="table table-striped-columns mb-0">
												<thead>
													<tr>
														<th>DateTime </th>
														<th>Endpoint Hostname</th>
														<th>Endpoint IP</th>
														<th>Regional | Endpoint Grup</th>
														<th>actResult</th>
														<th>Filename</th>
														<th>Malname</th>
														<th>UUID</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row">2024-06-07 03:28:48</th>
														<td>Laptop Kazuha</td>
														<td>20.36.98.32</td>
														<td>Prancis</td>
														<td>Passed</td>
														<td>KMS Auto Crack Game</td>
														<td>Possible_GENISO-6</td>
														<td>18421064842105484611548</td>
													</tr>
													<tr>
														<th scope="row">2024-06-07 03:28:48</th>
														<td>Laptop Raiden</td>
														<td>11.96.35.69</td>
														<td>Raiden</td>
														<td>Passed</td>
														<td>KMS Auto Crack Game</td>
														<td>Possible_GENISO-6</td>
														<td>18421064842105484611548</td>
													</tr>
													<tr>
														<th scope="row">2024-06-07 03:28:48</th>
														<td>Zhongli</td>
														<td>78.96.65.65</td>
														<td>Childe</td>
														<td>Passed</td>
														<td>KMS Auto Crack Game</td>
														<td>Possible_GENISO-6</td>
														<td>18421064842105484611548</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="card">
									<div class="card-body">
										</form>
										<h3>SSH Login Failed</h3>
										<div class="table-responsive">
											<table class="table table-striped-columns mb-0">
												<thead>
													<tr>
														<th>DateTime </th>
														<th>Endpoint Hostname</th>
														<th>Endpoint IP</th>
														<th>Regional | Endpoint Grup</th>
														<th>actResult</th>
														<th>Filename</th>
														<th>Malname</th>
														<th>UUID</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row">2024-06-07 03:28:48</th>
														<td>Laptop Kazuha</td>
														<td>20.36.98.32</td>
														<td>Prancis</td>
														<td>Passed</td>
														<td>KMS Auto Crack Game</td>
														<td>Possible_GENISO-6</td>
														<td>18421064842105484611548</td>
													</tr>
													<tr>
														<th scope="row">2024-06-07 03:28:48</th>
														<td>Laptop Raiden</td>
														<td>11.96.35.69</td>
														<td>Raiden</td>
														<td>Passed</td>
														<td>KMS Auto Crack Game</td>
														<td>Possible_GENISO-6</td>
														<td>18421064842105484611548</td>
													</tr>
													<tr>
														<th scope="row">2024-06-07 03:28:48</th>
														<td>Zhongli</td>
														<td>78.96.65.65</td>
														<td>Childe</td>
														<td>Passed</td>
														<td>KMS Auto Crack Game</td>
														<td>Possible_GENISO-6</td>
														<td>18421064842105484611548</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
			</div>
					<!-- end main content-->
                </div>
            </div>
        </div>

</Layout>


